<h3>Login In</h3>

<form action="/admin" method="POST">
  <label for="username"><b>Username</b></label>

  <input type="text" name="username" placeholder="Enter Username" />

  <label for="password"><b>Password</b></label>

  <input type="text" name="password" placeholder="Enter Password" />

  <input type="submit" value="Login" class="btn" />
</form>
<div class="register">
  <a href="/register">Sign In</a>
</div>
