<header class="header">
  <div class="header__logo">Admin Panel</div>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="#" class="">Welcome</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <a href="/logout">
      <button>Logout</button>
    </a>
  </div>
</header>
